<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>积分榜</string>
		<key>cells</key>
		<dict>
			<key>cell</key>
			<string>SPDataTableViewCell</string>
			<key>titleCell</key>
			<string></string>
		</dict>
		<key>class</key>
		<string>SPFootballScoreboard</string>
		<key>widths</key>
		<array>
			<integer>34</integer>
			<string>98</string>
			<string>35</string>
			<string>35</string>
			<string>26</string>
			<string>26</string>
			<string>26</string>
			<string>35</string>
		</array>
		<key>keys</key>
		<array>
			<string>teamId</string>
			<string>teamCn</string>
			<string>score</string>
			<string>count</string>
			<string>win</string>
			<string>draw</string>
			<string>lose</string>
			<string>truegoal</string>
		</array>
		<key>titles</key>
		<array>
			<string>排名</string>
			<string>球队</string>
			<string>积分</string>
			<string>场次</string>
			<string>胜</string>
			<string>平</string>
			<string>负</string>
			<string>净胜球</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>射手榜</string>
		<key>cells</key>
		<dict>
			<key>cell</key>
			<string>SPDataTableViewCell</string>
			<key>titleCell</key>
			<string></string>
		</dict>
		<key>class</key>
		<string>SPFootballTopScoreList</string>
		<key>widths</key>
		<array>
			<integer>34</integer>
			<string>124</string>
			<string>122</string>
			<string>38</string>
		</array>
		<key>keys</key>
		<array>
			<string>num</string>
			<string>playerName</string>
			<string>teamName</string>
			<string>item1</string>
		</array>
		<key>titles</key>
		<array>
			<string>排名</string>
			<string>球员</string>
			<string>球队</string>
			<string>进球</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>助攻榜</string>
		<key>cells</key>
		<dict>
			<key>cell</key>
			<string>SPDataTableViewCell</string>
			<key>titleCell</key>
			<string></string>
		</dict>
		<key>class</key>
		<string>SPFootballAssist</string>
		<key>widths</key>
		<array>
			<integer>34</integer>
			<string>124</string>
			<string>122</string>
			<string>38</string>
		</array>
		<key>keys</key>
		<array>
			<string>num</string>
			<string>playerName</string>
			<string>teamName</string>
			<string>item1</string>
		</array>
		<key>titles</key>
		<array>
			<string>排名</string>
			<string>球员</string>
			<string>球队</string>
			<string>助攻</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>红黄榜</string>
		<key>cells</key>
		<dict>
			<key>cell</key>
			<string>SPDataTableViewCell</string>
			<key>titleCell</key>
			<string></string>
		</dict>
		<key>class</key>
		<string>SPFootballRedYellow</string>
		<key>widths</key>
		<array>
			<integer>34</integer>
			<string>100</string>
			<string>78</string>
			<string>35</string>
			<string>35</string>
			<string>35</string>
		</array>
		<key>keys</key>
		<array>
			<string>num</string>
			<string>playerName</string>
			<string>teamName</string>
			<string>item1</string>
			<string>item2</string>
			<string>item3</string>
		</array>
		<key>titles</key>
		<array>
			<string>排名</string>
			<string>球员</string>
			<string>球队</string>
			<string>红牌</string>
			<string>黄牌</string>
			<string>双黄牌</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>出场时间</string>
		<key>cells</key>
		<dict>
			<key>cell</key>
			<string>SPDataTableViewCell</string>
			<key>titleCell</key>
			<string></string>
		</dict>
		<key>class</key>
		<string>SPFootballPlayingTime</string>
		<key>widths</key>
		<array>
			<integer>34</integer>
			<string>124</string>
			<string>122</string>
			<string>38</string>
		</array>
		<key>keys</key>
		<array>
			<string>num</string>
			<string>playerName</string>
			<string>teamName</string>
			<string>item1</string>
		</array>
		<key>titles</key>
		<array>
			<string>排名</string>
			<string>球员</string>
			<string>球队</string>
			<string>分钟</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>传威胁球</string>
		<key>cells</key>
		<dict>
			<key>cell</key>
			<string>SPDataTableViewCell</string>
			<key>titleCell</key>
			<string></string>
		</dict>
		<key>class</key>
		<string>SPFootballKillerBalls</string>
		<key>widths</key>
		<array>
			<integer>34</integer>
			<string>124</string>
			<string>122</string>
			<string>38</string>
		</array>
		<key>keys</key>
		<array>
			<string>num</string>
			<string>playerName</string>
			<string>teamName</string>
			<string>item1</string>
		</array>
		<key>titles</key>
		<array>
			<string>排名</string>
			<string>球员</string>
			<string>球队</string>
			<string>次数</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>抢断</string>
		<key>cells</key>
		<dict>
			<key>cell</key>
			<string>SPDataTableViewCell</string>
			<key>titleCell</key>
			<string></string>
		</dict>
		<key>class</key>
		<string>SPFootballSteal</string>
		<key>widths</key>
		<array>
			<integer>34</integer>
			<string>124</string>
			<string>122</string>
			<string>38</string>
		</array>
		<key>keys</key>
		<array>
			<string>num</string>
			<string>playerName</string>
			<string>teamName</string>
			<string>item1</string>
		</array>
		<key>titles</key>
		<array>
			<string>排名</string>
			<string>球员</string>
			<string>球队</string>
			<string>次数</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>解围</string>
		<key>cells</key>
		<dict>
			<key>cell</key>
			<string>SPDataTableViewCell</string>
			<key>titleCell</key>
			<string></string>
		</dict>
		<key>class</key>
		<string>SPFootballClearanceKick</string>
		<key>widths</key>
		<array>
			<integer>34</integer>
			<string>124</string>
			<string>122</string>
			<string>38</string>
		</array>
		<key>keys</key>
		<array>
			<string>num</string>
			<string>playerName</string>
			<string>teamName</string>
			<string>item1</string>
		</array>
		<key>titles</key>
		<array>
			<string>排名</string>
			<string>球员</string>
			<string>球队</string>
			<string>次数</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>犯规</string>
		<key>cells</key>
		<dict>
			<key>cell</key>
			<string>SPDataTableViewCell</string>
			<key>titleCell</key>
			<string></string>
		</dict>
		<key>class</key>
		<string>SPFootballFoul</string>
		<key>widths</key>
		<array>
			<integer>34</integer>
			<string>124</string>
			<string>122</string>
			<string>38</string>
		</array>
		<key>keys</key>
		<array>
			<string>num</string>
			<string>playerName</string>
			<string>teamName</string>
			<string>item1</string>
		</array>
		<key>titles</key>
		<array>
			<string>排名</string>
			<string>球员</string>
			<string>球队</string>
			<string>次数</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>被侵犯</string>
		<key>cells</key>
		<dict>
			<key>cell</key>
			<string>SPDataTableViewCell</string>
			<key>titleCell</key>
			<string></string>
		</dict>
		<key>class</key>
		<string>SPFootballInfringed</string>
		<key>widths</key>
		<array>
			<integer>34</integer>
			<string>124</string>
			<string>122</string>
			<string>38</string>
		</array>
		<key>keys</key>
		<array>
			<string>num</string>
			<string>playerName</string>
			<string>teamName</string>
			<string>item1</string>
		</array>
		<key>titles</key>
		<array>
			<string>排名</string>
			<string>球员</string>
			<string>球队</string>
			<string>次数</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>扑救</string>
		<key>cells</key>
		<dict>
			<key>cell</key>
			<string>SPDataTableViewCell</string>
			<key>titleCell</key>
			<string></string>
		</dict>
		<key>class</key>
		<string>SPFootballSaves</string>
		<key>widths</key>
		<array>
			<integer>34</integer>
			<string>124</string>
			<string>122</string>
			<string>38</string>
		</array>
		<key>keys</key>
		<array>
			<string>num</string>
			<string>playerName</string>
			<string>teamName</string>
			<string>item1</string>
		</array>
		<key>titles</key>
		<array>
			<string>排名</string>
			<string>球员</string>
			<string>球队</string>
			<string>次数</string>
		</array>
	</dict>
</array>
</plist>
