<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>ATP</string>
		<key>cells</key>
		<dict>
			<key>cell</key>
			<string>SPDataTableViewCell</string>
			<key>titleCell</key>
			<string></string>
		</dict>
		<key>class</key>
		<string>SPTennisATP</string>
		<key>widths</key>
		<array>
			<integer>38</integer>
			<string>92</string>
			<string>72</string>
			<string>56</string>
			<string>59</string>
		</array>
		<key>keys</key>
		<array>
			<string>rank</string>
			<string>playername1</string>
			<string>nation1</string>
			<string>score</string>
			<string>matchcount</string>
		</array>
		<key>titles</key>
		<array>
			<string>排名</string>
			<string>球员</string>
			<string>国家/地区</string>
			<string>积分</string>
			<string>参赛数量</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>WTA</string>
		<key>cells</key>
		<dict>
			<key>cell</key>
			<string>SPDataTableViewCell</string>
			<key>titleCell</key>
			<string></string>
		</dict>
		<key>class</key>
		<string>SPTennisWTA</string>
		<key>widths</key>
		<array>
			<integer>38</integer>
			<string>92</string>
			<string>72</string>
			<string>56</string>
			<string>59</string>
		</array>
		<key>keys</key>
		<array>
			<string>rank</string>
			<string>playername1</string>
			<string>nation1</string>
			<string>score</string>
			<string>matchcount</string>
		</array>
		<key>titles</key>
		<array>
			<string>排名</string>
			<string>球员</string>
			<string>国家/地区</string>
			<string>积分</string>
			<string>参赛数量</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>中国金花军团</string>
		<key>cells</key>
		<dict>
			<key>cell</key>
			<string>SPDataTableViewCell</string>
			<key>titleCell</key>
			<string></string>
		</dict>
		<key>class</key>
		<string>SPTennisChina</string>
		<key>widths</key>
		<array>
			<integer>38</integer>
			<string>92</string>
			<string>72</string>
			<string>56</string>
			<string>59</string>
		</array>
		<key>keys</key>
		<array>
			<string>rank</string>
			<string>playername1</string>
			<string>nation1</string>
			<string>score</string>
			<string>matchcount</string>
		</array>
		<key>titles</key>
		<array>
			<string>排名</string>
			<string>球员</string>
			<string>国家/地区</string>
			<string>积分</string>
			<string>参赛数量</string>
		</array>
	</dict>
</array>
</plist>
