<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>东部排行</string>
		<key>cells</key>
		<dict>
			<key>cell</key>
			<string>SPDataTableViewCell</string>
			<key>titleCell</key>
			<string></string>
		</dict>
		<key>class</key>
		<string>SPNBAEastSection</string>
		<key>widths</key>
		<array>
			<integer>38</integer>
			<string>68</string>
			<string>38</string>
			<string>38</string>
			<string>48</string>
			<string>38</string>
			<string>48</string>
		</array>
		<key>keys</key>
		<array>
			<string>rank</string>
			<string>nameCn</string>
			<string>wins</string>
			<string>losses</string>
			<string>percentage</string>
			<string>number</string>
			<string>state</string>
		</array>
		<key>titles</key>
		<array>
			<string>排名</string>
			<string>球队</string>
			<string>胜场</string>
			<string>负场</string>
			<string>胜率</string>
			<string>剩差</string>
			<string>状态</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>西部排行</string>
		<key>cells</key>
		<dict>
			<key>cell</key>
			<string>SPDataTableViewCell</string>
			<key>titleCell</key>
			<string></string>
		</dict>
		<key>class</key>
		<string>SPNBAWestSection</string>
		<key>widths</key>
		<array>
			<integer>38</integer>
			<string>68</string>
			<string>38</string>
			<string>38</string>
			<string>48</string>
			<string>38</string>
			<string>48</string>
		</array>
		<key>keys</key>
		<array>
			<string>rank</string>
			<string>nameCn</string>
			<string>wins</string>
			<string>losses</string>
			<string>percentage</string>
			<string>number</string>
			<string>state</string>
		</array>
		<key>titles</key>
		<array>
			<string>排名</string>
			<string>球队</string>
			<string>胜场</string>
			<string>负场</string>
			<string>胜率</string>
			<string>剩差</string>
			<string>状态</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>得分榜</string>
		<key>cells</key>
		<dict>
			<key>cell</key>
			<string>SPDataTableViewCell</string>
			<key>titleCell</key>
			<string></string>
		</dict>
		<key>class</key>
		<string>SPNBAScore</string>
		<key>widths</key>
		<array>
			<integer>38</integer>
			<string>132</string>
			<string>82</string>
			<string>65.5</string>
		</array>
		<key>keys</key>
		<array>
			<string>ranking</string>
			<string>fullnameCn</string>
			<string>teamNameCn</string>
			<string>stat</string>
		</array>
		<key>titles</key>
		<array>
			<string>排名</string>
			<string>球员</string>
			<string>球队</string>
			<string>场均得分</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>篮板榜</string>
		<key>cells</key>
		<dict>
			<key>cell</key>
			<string>SPDataTableViewCell</string>
			<key>titleCell</key>
			<string></string>
		</dict>
		<key>class</key>
		<string>SPNBABackboard</string>
		<key>widths</key>
		<array>
			<integer>38</integer>
			<string>132</string>
			<string>82</string>
			<string>65.5</string>
		</array>
		<key>keys</key>
		<array>
			<string>ranking</string>
			<string>fullnameCn</string>
			<string>teamNameCn</string>
			<string>stat</string>
		</array>
		<key>titles</key>
		<array>
			<string>排名</string>
			<string>球员</string>
			<string>球队</string>
			<string>场均篮板</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>助攻榜</string>
		<key>cells</key>
		<dict>
			<key>cell</key>
			<string>SPDataTableViewCell</string>
			<key>titleCell</key>
			<string></string>
		</dict>
		<key>class</key>
		<string>SPNBAAssist</string>
		<key>widths</key>
		<array>
			<integer>38</integer>
			<string>132</string>
			<string>82</string>
			<string>65.5</string>
		</array>
		<key>keys</key>
		<array>
			<string>ranking</string>
			<string>fullnameCn</string>
			<string>teamNameCn</string>
			<string>stat</string>
		</array>
		<key>titles</key>
		<array>
			<string>排名</string>
			<string>球员</string>
			<string>球队</string>
			<string>场均助攻</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>抢断榜</string>
		<key>cells</key>
		<dict>
			<key>cell</key>
			<string>SPDataTableViewCell</string>
			<key>titleCell</key>
			<string></string>
		</dict>
		<key>class</key>
		<string>SPNBASteal</string>
		<key>widths</key>
		<array>
			<integer>38</integer>
			<string>132</string>
			<string>82</string>
			<string>65.5</string>
		</array>
		<key>keys</key>
		<array>
			<string>ranking</string>
			<string>fullnameCn</string>
			<string>teamNameCn</string>
			<string>stat</string>
		</array>
		<key>titles</key>
		<array>
			<string>排名</string>
			<string>球员</string>
			<string>球队</string>
			<string>场均抢断</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>盖帽榜</string>
		<key>cells</key>
		<dict>
			<key>cell</key>
			<string>SPDataTableViewCell</string>
			<key>titleCell</key>
			<string></string>
		</dict>
		<key>class</key>
		<string>SPNBABlock</string>
		<key>widths</key>
		<array>
			<integer>38</integer>
			<string>132</string>
			<string>82</string>
			<string>65.5</string>
		</array>
		<key>keys</key>
		<array>
			<string>ranking</string>
			<string>fullnameCn</string>
			<string>teamNameCn</string>
			<string>stat</string>
		</array>
		<key>titles</key>
		<array>
			<string>排名</string>
			<string>球员</string>
			<string>球队</string>
			<string>场均盖帽</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>失误榜</string>
		<key>cells</key>
		<dict>
			<key>cell</key>
			<string>SPDataTableViewCell</string>
			<key>titleCell</key>
			<string></string>
		</dict>
		<key>class</key>
		<string>SPNBAMiss</string>
		<key>widths</key>
		<array>
			<integer>38</integer>
			<string>132</string>
			<string>82</string>
			<string>65.5</string>
		</array>
		<key>keys</key>
		<array>
			<string>ranking</string>
			<string>fullnameCn</string>
			<string>teamNameCn</string>
			<string>stat</string>
		</array>
		<key>titles</key>
		<array>
			<string>排名</string>
			<string>球员</string>
			<string>球队</string>
			<string>场均失误</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>神投榜</string>
		<key>cells</key>
		<dict>
			<key>cell</key>
			<string>SPDataTableViewCell</string>
			<key>titleCell</key>
			<string></string>
		</dict>
		<key>class</key>
		<string>SPNBASharpShooter</string>
		<key>widths</key>
		<array>
			<integer>38</integer>
			<string>132</string>
			<string>82</string>
			<string>65.5</string>
		</array>
		<key>keys</key>
		<array>
			<string>ranking</string>
			<string>fullnameCn</string>
			<string>teamNameCn</string>
			<string>statpercentage</string>
		</array>
		<key>titles</key>
		<array>
			<string>排名</string>
			<string>球员</string>
			<string>球队</string>
			<string>神投</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>三分榜</string>
		<key>cells</key>
		<dict>
			<key>cell</key>
			<string>SPDataTableViewCell</string>
			<key>titleCell</key>
			<string></string>
		</dict>
		<key>class</key>
		<string>SPNBAThreepoint</string>
		<key>widths</key>
		<array>
			<integer>38</integer>
			<string>132</string>
			<string>82</string>
			<string>65.5</string>
		</array>
		<key>keys</key>
		<array>
			<string>ranking</string>
			<string>fullnameCn</string>
			<string>teamNameCn</string>
			<string>statpercentage</string>
		</array>
		<key>titles</key>
		<array>
			<string>排名</string>
			<string>球员</string>
			<string>球队</string>
			<string>三分</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>罚球榜</string>
		<key>cells</key>
		<dict>
			<key>cell</key>
			<string>SPDataTableViewCell</string>
			<key>titleCell</key>
			<string></string>
		</dict>
		<key>class</key>
		<string>SPNBAFreethrows</string>
		<key>widths</key>
		<array>
			<integer>38</integer>
			<string>132</string>
			<string>82</string>
			<string>65.5</string>
		</array>
		<key>keys</key>
		<array>
			<string>ranking</string>
			<string>fullnameCn</string>
			<string>teamNameCn</string>
			<string>statpercentage</string>
		</array>
		<key>titles</key>
		<array>
			<string>排名</string>
			<string>球员</string>
			<string>球队</string>
			<string>罚球</string>
		</array>
	</dict>
</array>
</plist>
